

.PostItem {
  width: 80%;
  border: 1px solid;
  margin: 20px auto auto auto;
  display: flex;

  .post-title {
    font-size: 30px;
  }

  .post-item-content {
    width: 90%;
    margin: 10px;
  }

  .post-item-buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10%;

    .post-item-button {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      &:nth-child(1) {
        top: 25%;
      }

      &:nth-child(2) {
        top: 75%;
      }
    }
  }
}
