

.SearchBox {

  position: relative;
  height: 100%;
  display: flex;

  .searchbox-input {
    flex-grow: 5;
    font-size: 30px;
    height: 90%;
  }

  .searchbox-submit {
    flex-grow: 1;
    height: 100%;
    outline: none;
    border: 1px solid black;
  }

}
