.App {
  height: 100%;

  .top-bar {

    position: relative;
    width:80%;
    height: 40px;
    left: 50%;
    margin-top: 20px;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;

    .SearchBox {
      left: 0;
    }

    .add-post-button {
      margin-left: auto;
      //margin-top: auto;
      width: 200px;
      height: 100%;
    }

  }
}

